*/.idea
*/node_modules/*
*/package-lock.json
*/node_modules
Assignment4/server/node_modules
Assignment4/server/node_modules/
Assignment4/client/node_modules
Assignment4/client/node_modules/
**/.idea/
**/node_modules
Assignment6/gradle/
Assignment6/gradlew.bat
